.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, #a267d6 0.02%, #fda3ff 234.31%);
  border-radius: 47.7254px;
  padding: 17.897px 35.7941px;
  outline: none;
  color: #fff;
  margin: 3em auto;
  border: none;
  box-shadow: #a267d670 0px 10px 20px, #fda3ff6c 0px 6px 6px;
  cursor: pointer;
}
.button:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1.5px;
  opacity: 0.5;
  border-radius: inherit;
  background: linear-gradient(to right, #a267d6, #fda3ff);
}
