.contact {
  margin-top: 7rem;
  position: relative;
  width: 100%;
  height: max-content;
  padding: 15rem 0 10rem;
  background-color: #1c0b31;
  .content {
    width: 70%;
    margin: auto;
    .info {
      margin: 5rem 0;
    }
  }
  .topWave {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    fill: var(--main-bg);
  }

  @media screen and (max-width: 769px) {
    padding: 10rem 0 10rem;
    .content {
      width: 100%;
    }
  }
  @media screen and (max-width: 426px) {
    padding: 6rem 0 10rem;
    .content {
      width: 90%;
    }
  }
}
