.blogs {
  margin-top: 7rem;
  .articles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
  }
  .btn {
    margin: 2rem auto;
    background: var(--gradient-bg-one);
    font-size: 15px;
    &::after {
      background: var(--gradient-bg-one);
    }
  }
  @media screen and (max-width: 769px) {
    .articles {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 426px) {
    margin-top: 5rem;
    .articles {
      display: block;
    }
  }
}
