.founder {
  width: 32%;
  .image {
    width: 300px;
    height: 300px;
    margin: auto;
    img {
      object-fit: cover;
    }
  }

  .info {
    margin-top: 1rem;
    padding: 20px;
    .name {
      color: var(--primary-three);
      font-size: 32px;
    }
    .job {
      display: block;
      margin-top: 4px;
      color: var(--primary-two);
      font-size: 15px;
    }
    .link {
      position: relative;
      display: inline-block;
      margin-top: 0.9rem;
      padding: 0.3rem 1rem;
      overflow: hidden;
      background-color: var(--primary-two);
      border-radius: 5px;
      color: white;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -20px;
        height: 100%;
        width: 12px;
        transform: skewX(25deg);
        background-color: rgba(255, 255, 255, 0.6);
      }
      &:hover {
        &::before {
          animation: shine 0.6s ease-in-out;
        }
      }
      @keyframes shine {
        from {
          left: -20px;
        }
        to {
          left: 200%;
        }
      }
    }
  }
  @media screen and (max-width: 1025px) {
    text-align: center;
    width: 32%;
    .info {
      .name {
        font-size: 29px;
      }
    }
  }
  @media screen and (max-width: 769px) {
    text-align: center;
    width: 48%;
    margin: 2rem auto;
  }
  @media screen and (max-width: 426px) {
    text-align: center;
    width: 100%;
  }
}
