.founder {
  width: 32%;
  .image {
    width: 300px;
    height: 300px;
    margin: auto;
    img {
      object-fit: cover;
    }
  }

  .info {
    margin-top: 1rem;
    padding: 20px;
    .name {
      color: var(--primary-three);
      font-size: 32px;
    }
    .job {
      display: block;
      margin-top: 4px;
      color: var(--primary-two);
      font-size: 15px;
    }
    .link {
      display: inline-block;
      margin-top: 0.5rem;
    }
  }
  @media screen and (max-width: 769px) {
    & {
      text-align: center;
      width: 48%;
      margin: 2rem auto;
    }
  }
  @media screen and (max-width: 426px) {
    & {
      text-align: center;
      width: 100%;
    }
  }
}
