.landing {
  margin-top: 1.5em;
  text-align: center;
}

.landing .title {
  font-size: 55px;
}

.illustration {
  margin-top: 6em;
}

.btn {
  background: var(--gradient-bg-one);
  margin: 3rem auto;
  font-size: 18px;
}

.btn::after {
  background: var(--gradient-bg-one);
}
