.about {
  margin-top: 7rem;
}
.info {
  flex: 1;
  padding-left: 7rem;
}

.info p {
  margin-top: 1rem;
}

.btn {
  /* background: var(--gradient-bg-two); */
  background: var(--gradient-bg-two);
  margin-top: 1.2rem;
  font-size: 15px;
}

.btn::after {
  background: var(--gradient-bg-two);
}
