.header {
  width: 100%;
  padding: 15px;
  transition: all 0.4s linear;
}

.fixed {
  z-index: 100;
  position: sticky;
  padding: 5px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  max-height: 70px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(20px);
  transition: all 0.4s linear;
  border-bottom: 1px solid var(--primary-bg-one);
}

.fixed .navbar ul li a {
  opacity: 0.6;
}

.logo {
  width: 50px;
}

.logo img {
  width: 100%;
  object-fit: contain;
}

.navbar {
  min-width: 450px;
  max-width: 550px;
}

.navbar ul {
  width: 100%;
}

.navbar ul li a {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.4;
  transition: all 0.2s linear;
}

.navbar ul li a:hover {
  color: var(--primary-one);
  opacity: 1;
}

.themes {
  color: var(--primary-one);
}
